.series{
    .inner_series{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 25px;
        }
        .series_options{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            width: 600px;
            background-color: #1e1e1e;
            border-radius: 40px ;

            .options_game{
                padding: 20px 50px 20px 50px;
                img{
                    height: 35px;
                }

                &:hover{
                    background-color: #5c5c5c;
                    border-radius: 40px;
                }
                &:last-child{
                    padding: 20px 65px 20px 65px; 
                }

            }
        }  
    }
}